.card-img-m{
    height:420px;
    width:auto;
    object-fit: cover;
}
.card-img-m2{
    height:444px;
    width:auto;
    object-fit: cover;
}
.card-img-s{
    height: 207px;
    width:auto;
    object-fit: cover;
}
.card-img-xs{
    max-width: 64px;
    height:64px;
    object-fit: cover;
}