.card-img-m{
    height:420px;
    width:auto;
    object-fit: cover;
}
.card-img-m2{
    height:444px;
    width:auto;
    object-fit: cover;
}
.card-img-s{
    height: 250px;
    width:auto;
    object-fit: cover;
}
.subtitle{
    color: #C0A4A5;
    font-size: 20px;
}