.card-img-m{
    height:252px;
    width:auto;
    object-fit: cover;
    @include media-breakpoint-up(lg) {
        height:420px;
        width:auto;
     }
    
}



.card-img-m2{
    height:266px;
    width:auto;
    object-fit: cover;
    @include media-breakpoint-up(lg) {
        height:444px;
        width:auto;
     }
}

.card-img-s{
    height:117px;
    width:auto;
    object-fit: cover;
    @include media-breakpoint-up(lg) {
        height:207px;
        width:auto;
     }
}
.subtitle{
    color: #C0A4A5;
    font-size: 20px;
}

.btn-cus{
    background-color:#C0A4A5;
    color:#fff;
    &:not(.collapsed) {
    color:#fff;
     background-color:#907A7B;}
    &:focus{
      box-shadow:none;
    }
   
  }
   


.scroller{
   overflow-x:auto;
}
