<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.css"> <!--順序要放對，不然無法成功套入-->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-success bg-success">
      <div class="container justify-content-between">
        <a class="navbar-brand " href="index.html"><img src="https://upload.cc/i1/2021/08/22/Xd47n2.png" alt="logo"></a>
        <div class="menu-btn ">
          <!-- 漢堡選單如下 -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons text-primary">menu</span>
          </button>
        </div>
        <!--選單內容 -->
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item px-3">
              <a class="nav-link" href="#">課程介紹</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="curriculum.html">瑜珈空間</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="#">當月課表</a>
            </li>
          </ul>
          <ul class="btn-group d-block d-lg-none">
            <li><a class="nav-link" href="#" role="button">立即預約</a></li>
            <li><a class="nav-link" href="#" role="button">聯絡我們</a></li>
          </ul>
        </div>
        <div class="d-none d-lg-flex justify-content-md-center">
          <ul class="btn-group">
            <li><a class="btn btn-outline-primary submitbutton me-4 rounded-pill" href="#" role="button">立即預約</a></li>
            <li><a class="btn btn-outline-primary submitbutton rounded-pill" href="#" role="button">聯絡我們</a></li>
          </ul>
        </div>
       
      </div>
    </nav>

    <%- include('./media-icon.ejs') %>

    <%- contents %>

    <footer class="footer bg-secondary  pb-6">
      <div class="container-fluid d-block d-md-flex justify-content-md-between py-6">
        <h2 class="text-light fs-3">現在訂閱，獲得課程優惠碼！</h2>
        <div class=" input-group textsubmit">
          <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Recipient's email"      aria-describedby="basic-addon2">
            <button class="btn btn-primary submitbutton text-light radius-left-0 radius-right-0" type="button">訂閱</button>
        </div>
      </div>
      <div class="border-top border-light w-100"></div>
      <div class="footer-sub-area container-fluid d-flex justify-content-between mt-5">
        <nav class=" nav flex-column text-light">
          <h2 class="fs-4">DOYOGA</h2>
          <ul>
            <li><a class="nav-link text-light px-0" href="#">課程介紹</a></li>
            <li><a class="nav-link text-light px-0" href="#">課程介紹</a></li>
            <li><a class="nav-link text-light px-0" href="#">當月課表</a></li>
          </ul>
          <div class="copyright text-light d-block d-md-none">© 2021. All Rights Reserved.</div>
        </nav>
        <div class="copyright text-light d-none d-md-inline align-self-md-end">© 2021. All Rights Reserved.</div>
        <ul class="media-bar d-flex">
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt="fb" class="media-icon-ss me-2"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt="ig" class="media-icon-ss me-2"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt="line" class="media-icon-ss"></a></li>
        </ul>
      </div>
     
    
         

    
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
    <script src="./assets/js/all.js"></script>
    
  </body>

</html>
