.homebanner{
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true') ;
    max-width: 1280px;
    height:582px;
    background-position:bottom;
    background-size:cover;
}
.demo-picture{
    height: 628px;
    width: 100%;
    object-fit: cover;
}

.opinion-box{
    width: 330px;
    height:116px;
}